.homepage{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color:blue;
    padding: 20px;
    max-width: 1000px;
}
header{
    font-family: sans-serif;
}
body{
    background-color: rgb(29, 25, 25);
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    padding: 40px;
    background-color: blue;
    color: whitesmoke;
}

h2{
    text-align: left;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    padding: 10px;
    background-color: blue;
    color: rgb(21, 20, 20); 
}

hr{
    height: 1px;
    border-color: black;
    background-color: black;
}

.news{
    display: inline-block;
    text-align: left;
    padding: 15px;
}


.content{
    text-align: center;
    padding: 25px;
    height: 250px;
    width: 75%;
    background-color: rgb(131, 136, 202);
}

.content:hover{
    text-align: center;
    color:aliceblue;
    padding: 25px;
    height: 250px;
    background-color: rgb(46, 43, 43);
}